
/* Body text font*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Occasional san-serif display font (title, nav-menu) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Fancy header font */
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
/* Drop-cap font */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:ital,wght@0,700&display=swap');

/* Override the body font to Merriweather */
html {
    font-family: 'Merriweather', serif;
}

.sidebar {
    font-family: 'Work Sans', sans-serif;
    font-variant: small-caps;
}

.content :is(h1, h2, h3, h4,h5, h6) {
    font-family: 'Vampiro One', 'Work Sans', sans-serif;
    font-variant: small-caps;
    border-bottom: 1px solid var(--sidebar-active);
}

.content :is(h1, h2, h3, h4,h5, h6) .header:link {
    color: var(--sidebar-active);
}

h1.menu-title {
    font-family: 'Work Sans', sans-serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: 700;
    color: var(--sidebar-active);
}

main h1:first-of-type+p::first-letter {
    font-family: 'UnifrakturCook', 'Merriweather', serif;
    padding: 0 .3rem;
    margin: 0.5rem 0.3rem 0 0;
    color: var(--sidebar-active);
    font-size: 6.5rem;
    font-weight: 700;
    float: left;
    -webkit-text-stroke: 2px var(--fg);
}



hr {
    color: var(--sidebar-active);
    
}